.mainProjectsBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background-color:#fff;
}

.mainProjectsBlockChild {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 90%;
    height: 80%;
    margin: 70px 0 70px 0;
}

.projectsDescription {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 60px;
    font: bold 56px Poppins, sans-serif;
}

.myProjects {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
    min-height: 100vh;
}
