.projectsMainBlock {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 45%;
    height: 80vh;
    margin-bottom: 20px;
    background: url("https://klike.net/uploads/posts/2019-11/1572861552_38.jpg");
}


.projectButtonBlock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:60%;
}

.projectButtonBlock button {
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    background-color: gray;
    border: none;
}

.projectsDescription {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    width: 100%;
    min-height: 150px;
    background-color: white;
}

.projectName {
    margin: 10px 0 0 20px;
    font-weight: bold;
}

.projectShortDescription {
    margin: 10px 0 0 20px;
    width: 80%;
    height: 70px;
    font-weight: bold;
  
}

@media (max-width: 769px) {
    .projectsMainBlock {
        width: 300px;
    }
}