
.mainIcon {
    position: absolute;
    height: 51px;
    color: #ffb400;
}

.mainWrapper {
    display: flex;
    min-height: 100vh;
    width: 100%;
}

.mainBlock {
    display: flex;
    flex-direction:row;
    max-width: 600px;
    min-width: 300px;
}

.colorBlock {
    height: 200%;
    left: -83%;
    position:fixed;
    top: -50%;
    transform: rotate(-15deg);
    transition: none!important;
    width: 100%;
    background-color: #ffb400;
}

.introduceBlock {
    margin-left: 20%;
    align-self: center;
}

.introduceBlock h1 {
   min-width: 50%;
    margin: 18px 0 10px;
    max-width: 600px;
}
.introduceBlock h1, .introduceBlock span {
    display: flex;
    flex-direction: column;
    font: bold 51px Poppins, sans-serif;
    color: #666666;
}

.introduceBlock h1:before {
    border-radius: 10px;
    content: "";
    height: 4px;
    left: 0;
    position: relative;
    top: 40px;
    left: -60px;
    width: 40px;
    background-color: #ffb400;
}

.introduceItemOne {
    color: #ffb400!important;
}

.introduceItemThree {
    max-width: 600px;
    font: normal 16px 'Open Sans', sans-serif;
    color: #666666;
    line-height: 35px;
    margin: 15px 0 28px -60px;
}

.avatarBlock {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    box-shadow: 0 0 7px rgb(0 0 0 / 90%);
    height: calc(100vh - 80px);
    position: relative;
    left: 40px;
    top: 40px;
    background-color: #666666;
}



/* .mainRemoteJobBlockChild button {
    width: 200px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 35px;
    border-color: #fff;
    color: #000;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    transition: all .25s ease-in-out;
}


.mainRemoteJobBlock button:hover {
    border-color: #ffb400;
    background-color: #ffb400;
    color: #fff;
} */



@media (max-width: 800px){
    .mainWrapper {
        width: 100%;
        height: 400px;
        background-color: lightpink;
    }

    .mainBlock {
        flex-direction: column;
        justify-content: start;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .introduceBlock {
        align-self: flex-start;
        margin: 5px 0 0 10px;
    }

    .introduceItem {
        font-size: 25px;
    }

    .avatarBlock {
        width: 300px;
        height: 55%;
        margin-top: 30px;
    }


    .skillsDescription {
        display: flex;
        justify-content: center;
        width: 100%;
        min-height: 5vh;
        margin-bottom: 70px;
        font-size: 25px;
    }

    .mySkills {
        justify-content:space-around;
    }

    .mainProjectsBlock {
        width: 100%;
        min-height: 100vh;
    }

    .mainProjectsBlockChild {
        width: 100%;
        height: 100%;
    }

    .projectsDescription {
        font-size: 25px;
    }

    .myProjects {
       justify-content: space-around;
    }



    .mainRemoteJobBlockChild span {
        text-align: center;
    }


    .mainContactsBlockChild{
        display: flex;
        font-size: 25px;
        width: 100%;
        height: 100%;
    }


    .contactsFormBlock {
        display: flex;
        justify-content: start;
        flex-direction: column;
        width: 360px;
    }
}