.mainWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 700px;
    background-color: lightpink;
}

.mainBlock {
    display: flex;
    justify-content: space-around;
    align-self: center;
    width: 75%;
    height: 50%;
    border: 2px solid black;
}

.introduceBlock {
    align-self: center;
    background-color: lightgray;
}

.introduceItem {
    display: block;
    font-weight: bold;
    font-size: 30px;
}

.avatarBlock {
    width: 200px;
    height: 100%;
    background-color: lightgray;
}

.mainSkillsBlock {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 700px;
    background-color: #cbf7f7;
}

.mainSkillsBlockChild {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 75%;
    height: 70%;
    border: 2px solid black;
}

.skillsDescription {
    width: 100%;
    height: 200px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    border-bottom: 2px solid black;
}

.skillsDescription span {
    background-color: lightgray;
}

.mySkills {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.mainProjectsBlock {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 900px;
    background-color: lightpink;
}

.mainProjectsBlockChild {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 75%;
    height: 70%;
    border: 2px solid black;
}

.projectsDescription {
    width: 100%;
    height: 200px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    border-bottom: 2px solid black;
}

.projectsDescription span {
    background-color: lightgray;
}

.myProjects {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.mainRemoteJobBlock {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 300px;
    background-color: white;
}

.mainRemoteJobBlockChild{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    font-weight: bold;
    font-size: 30px;
    width: 75%;
    height: 50%;
    border: 2px solid black;
}

.mainRemoteJobBlockChild span {
    background-color: lightgray;
}

.mainRemoteJobBlockChild button {
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    background-color: gray;
    border: none;
}

.mainContactsBlock {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 700px;
    background-color: lightpink;
}

.mainContactsBlockChild{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    font-weight: bold;
    font-size: 30px;
    width: 75%;
    height: 80%;
    border: 2px solid black;
}

.mainContactsBlockChild span {
    background-color: lightgray;
}

.contactsFormBlock {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 50%;
    height: 50%;
    border: 2px solid black;
}
.contactsFormBlock input {
    height: 30px;
    border: none;
    background-color: lightgray;
}

.contactsFormBlock textarea {
    height: 180px;
    background-color: lightgray;
    border: none;
    resize: none;
}

.mainContactsBlockChild button {
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    background-color: gray;
    border: none;
}

@media (max-width: 769px){
    .mainWrapper {
        width: 100%;
        height: 500px;
        background-color: lightpink;
    }

    .mainBlock {
        flex-direction: column;
        justify-content: start;
        align-items: center;
        width: 100%;
        height: 100%;
        border: none;
    }

    .introduceBlock {
        align-self: self-start;
        margin: 5px 0 0 10px;
    }

    .introduceItem {
        font-size: 25px;
    }

    .avatarBlock {
        width: 300px;
        height: 300px;
        margin-top: 20px;
    }

    .mainSkillsBlock {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 1200px;
    }

    .mainSkillsBlockChild {
        width: 100%;
        height: 100%;
        border: none;
    }

    .skillsDescription {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 150px;
        font-size: 25px;
        border-bottom: none
    }

    .mySkills {
        display: flex;
        flex-direction: column;
        justify-content:start;
        align-items: center;
        height: 82%;
    }

    .mainProjectsBlock {
        width: 100%;
        height: 1150px;
    }

    .mainProjectsBlockChild {
        width: 100%;
        height: 100%;
        border: none;

    }

    .projectsDescription {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 150px;
        font-size: 25px;
        border-bottom: none
    }

    .myProjects {
        display: flex;
        flex-direction: column;
        justify-content:start;
        align-items: center;
        height: 82%;
    }

    .mainRemoteJobBlock {
        height: 500px;
    }

    .mainRemoteJobBlockChild{
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
        border: none;
    }

    .mainRemoteJobBlockChild span {
        width: 300px;
        text-align: center;
        background: none;
    }



    .mainContactsBlock {
        height: 650px;

    }

    .mainContactsBlockChild{
        display: flex;
        justify-content: space-evenly;
        font-size: 25px;
        width: 100%;
        height: 100%;
        border: none;
    }


    .contactsFormBlock {
        display: flex;
        justify-content: start;
        flex-direction: column;
        width: 360px;
        height: 270px;
        border: none;
    }
    .contactsFormBlock input {
        margin-bottom: 10px;
    }
}