
.headerWrapper {
    display: flex;
    opacity: 1;
    position: fixed;
    right: 30px;
    top: 50%;
    transition: opacity .3s;
}

.navItems {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listItem {
    font: normal 20px Open Sans, sans-serif;
    text-decoration: none;
}

@media (max-width:769px) {
    .headerWrapper {
        justify-content: center;
        width: 100%;
    }

    .navItems {
        margin: 0 auto;
        width: 90%;
    }
}