
.headerWrapper {
    display: flex;
    opacity: 1;
    position: fixed;
    top: 30%;
    right: 50px;
    transition: opacity .3s;
    width: 50px;
    z-index: 10;
}

.navItems {
    display: flex;
    flex-direction: column;
}

.listItem {
    display: flex;
    justify-content: center;
    align-items: center;
    font: normal 20px Open Sans, sans-serif;
    text-decoration: none;
    color: #fff;
    background-color: #eee;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 20px 0;
}

.listItem:hover {
    background-color: #ffb400;
}

.listItem h2  {
    border-radius: 30px;
    color: #fff;
    font: bold 15px Poppins, sans-serif;
    height: 50px;
    line-height: 50px;
    margin: 0;
    opacity: 0;
    padding: 0 25px 0 30px;
    position: absolute;
    right: 0;
    text-transform: uppercase;
    top: 0;
    transition: all .3s;
    z-index: -1;
}

.listItem:hover h2 {
    border-radius: 30px 0 0 30px;
    margin: 0;
    opacity: 1;
    right: 27px;
    text-align: center;
    background-color: #ffb400;
}

.navTitleOne {
    top: 20px !important;
}

.navTitleTwo {
    top: 110px !important;
}

.navTitleThree {
    width: 100px!important ;
    top: 200px !important;
}

.navTitleFour {
    width: 80px!important ;
    top: 290px !important;
}



@media (max-width:769px) {
    .headerWrapper {
        justify-content: center;
        width: 100%;
    }

    .navItems {
        margin: 0 auto;
        width: 90%;
    }
}