.mainFooterBlock {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 400px;
    background-color: lightgoldenrodyellow;
}

.footerBlockChild {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    font-weight: bold;
    font-size: 20px;
    width: 75%;
    height: 60%;
    border: 2px solid black;
}

.footerSocialNetworksBlock {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 60%;
    height: 32%;
    border: 2px solid black;
}

.footerSocialNetworksBlock span {
    width: 75px;
    height: 75px;
}

.footerBlockChild span {
    background-color: lightgray;
}

@media(max-width: 769px) {
    .mainFooterBlock {
        height: 400px;
    }

    .footerBlockChild {
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
        border: none;
    }

    .footerSocialNetworksBlock {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 90%;
        height: 20%;
        border: none;
    }
}