.skillsMainBlock {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-between;
    width: 30%;
    margin-bottom: 20px;
    background-color: white;
}


.skillsChildBlock {
    width: 75px;
    height: 75px;
    background-color: lightgray;
}

.skillTitle {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.skillDescription {
    width: 100%;
    text-align: center;
    font-size: 23px;
    font-weight: bold;
}

@media (max-width: 769px){
    .skillsMainBlock {
        width: 300px;
    }

    .skillTitle {
        font-size: 25px;
    }

    .skillDescription {
        font-size: 20px;
    }
}
