.contactsBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 50vh;
    background-color: #fff;
    margin: 70px 0 70px 0;
}

.contactsBlockChild{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-left:auto;
}

.contactsLeftBlock {
width: 25%;
}

.contactsRightBlock {
    width: 75%;
}
.contactsTitle {
    font: bold 26px Poppins, sans-serif;
    margin: 0;
    padding: 0px 0px 16px;
    color: #666;
}

.contactsDescription {
    font: normal 15px Opensans, sans-serif;
    color: #666;
    margin: 0 0 24px;
}
.contactsBlockTitle{
    font: bold 56px Poppins, sans-serif;
    text-align: center;
    margin: 0 0 60px 0;
}

.contactsMailme {
    display: flex;
    margin: 0 0 20px;
    
}

.contactsIcon {
    width: 50px;
    height: 50px;
}

.contactsMailmeInfo {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font: normal 15px Opensans, sans-serif;
    color: #666;
    line-height: 25px;
}

.contactsFormBlock {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 66%;
    margin: auto;
}
.contactsFormBlock input {
    height: 30px;
    width: 90%;
    background-color: #fff;
    border: 1px solid #ddd;
    color: #666;
    border: 1px solid #666;
    border-radius: 35px;
    margin-bottom: 30px;
    outline: none!important;
    overflow: hidden;
    padding: 12px 26px;
    transition: .3s;
    font: normal 15px 'Open Sans', sans-serif;
}


.contactsFormBlock textarea {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #666;
    border: 1px solid #666;
    border-radius: 35px;
    height: 200px;
    width: 90%;
    outline: none!important;
    overflow: hidden;
    padding: 12px 26px;
    transition: .3s;
    margin-bottom: 60px;
    resize: none;
    font: normal 15px 'Open Sans', sans-serif;
}

.contactsFormBlock input:focus, .contactsFormBlock textarea:focus {
    border: 1px solid #ffb400!important;
}

.contactsBlockChild button {
    width: 200px;
    height: 50px;
    border-radius: 35px;
    border-color: #fff;
    background-color: transparent;
    color: #000;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    overflow: hidden;
    position: relative;
    text-align: center;
    
    text-transform: uppercase;
    transition: all .25s ease-in-out;
}

.contactsBlockChild button:hover {
    border-color: #ffb400;
    background-color: #ffb400;
    color: #fff;
}


.contactsSocialNetworksBlock {
    display: flex;
    flex-direction: row;
    padding: 15px 0 0 ;
    margin: 0 0 48px -5px;
    
}

.contactsSocialNetworksBlock span {
    width: 50px;
    height: 50px;
    margin: 0 6px;
    border-radius: 50%;
}
.contactsSocialNetworksBlock span:hover {
    background-color: #ffb400;
    cursor: pointer;
}


@media(max-width: 769px) {
   
}